<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Restaurant</title>
    <link href="~/bootswatch/pulse/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- Toastr CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

 

    <link href="~/css/site.css" rel="stylesheet" />


</head>
<body class="renderBody">
    @{
        var username = Context.Session.GetString("Username") ?? "User";
    }
      <div id="pulseLoader" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%;
    background: rgba(255,255,255,0.7); z-index:9999; text-align:center;">
        <div style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="mt-2 fw-bold">Saving Order...</div>
        </div>
    </div>

    
    <header style="max-height: 10vh;">
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <!-- Logo -->
                <a class="navbar-brand d-flex align-items-center" href="#" style="height:40px;">
                    <span class="fw-bold text-uppercase" style="font-size:1.3rem; color:#0d6efd;">Pulse</span>
                    <span class="text-danger ms-1" style="font-size:1.3rem;">POS</span>
                </a>




                <!-- Sidebar Toggle Button -->
                @*   <button class="btn btn-outline-light me-2" id="toggleSidebar" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button> *@
                <!-- Mobile toggle -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar items -->
                <div class="collapse navbar-collapse justify-content-end" id="navbarColor01">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item me-3">
                            <a class="nav-link text-white" id="btnFullscreen" href="#" title="Enter Fullscreen">
                                <i class="bi bi-arrows-fullscreen fs-5"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white d-flex align-items-center" href="#" id="userDropdown"
                               role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="User" width="30" height="30"
                                     class="rounded-circle me-2">
                                <span>@username</span>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="d-flex">
        <!-- Sidebar -->
        <div id="sidebarMenu" class="d-flex flex-column flex-shrink-0">
            <div class="p-3 d-flex flex-column" style="height:100vh;">
                <button class="btn mt-auto w-100 d-flex justify-content-end align-items-center" id="toggleSidebar" type="button">
                    <i class="bi bi-arrow-left-circle ms-2 toggle-icon"></i>
                </button>
                <ul class="navbar-nav flex-column flex-grow-1 mt-3">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="AdminDashboard" asp-controller="PointOfSale" title="Dashboard">
                            <i class="bi bi-house-door me-2"></i> <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="CategoryList" asp-controller="PointOfSale" title="Category">
                            <i class="bi bi-tags me-2"></i> <span>Category</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="ProductList" asp-controller="PointOfSale" title="Menu">
                            <i class="bi bi-basket me-2"></i> <span>Menu</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="PointOfSale" asp-action="TableList" title="Table">
                            <i class="bi bi-grid-3x3-gap me-2"></i> <span>Table</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="PointOfSale" asp-action="StaffList" title="Employees">
                            <i class="bi bi-people me-2"></i> <span>Employees</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="PointOfSale" asp-action="GetAllOrders" title="Point Of Sale">
                            <i class="bi bi-cash-stack me-2"></i> <span>POS</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="KOT" asp-action="Index" title="Kitchen Order Ticket">
                            <i class="bi bi-journal-check me-2"></i> <span>KOT</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="Reports">
                            <i class="bi bi-bar-chart-line me-2"></i> <span>Reports</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Main Content -->
        <div class="flex-grow-1 p-4">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>


    @await Html.PartialAsync("_PopupPartail")


    <!-- Footer -->
   <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - RestaurantManagementUI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <!-- DataTables Buttons Extension -->
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


    <script>
        $(document).ready(function () {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "3000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

        @* Success Message *@
        @if (TempData["Success"] != null)
        {
            var successMessage = TempData["Success"].ToString().Replace("\"", "\\\""); // escape quotes
            <text>
                        var message = "@successMessage";
                        if (message.toLowerCase().includes("delete")) {
                            toastr.error(message, "Warning"); // Danger style
                        } else {
                            toastr.success(message, "Success"); // Normal success
                        }
            </text>
        }

        @* Error Message *@
        @if (TempData["Error"] != null)
        {
            var errorMessage = TempData["Error"].ToString().Replace("\"", "\\\"");
            <text>
                        toastr.error("@errorMessage", "Error");
            </text>
        }
        });
    </script>



</body>

</html>
