@model IEnumerable<tbl_Staff>

@{
    ViewData["Title"] = "Employee";
}

<div class="mt-4">
    <div class="d-flex justify-content-between align-items-center mb-5">
        <h3 class="mb-0">Employees</h3>
        <button class="btn btn-primary"
                onclick="openModal('Add Staff', '/PointOfSale/StaffAddEdit','md')">
            <i class="bi bi-plus-circle me-1"></i> Add Employee
        </button>

    </div>

    <table id="categoryTable" class="table table-hover mt-5 dt">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Role</th>
                <th>Contact</th>
                <th>User Name</th>
                <th>Password</th>

                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.StaffID</td>
                        <td>@item.StaffName</td>
                        <td>@item.StaffRole</td>
                        <td>@item.StaffPhone</td>
                        <td>@item.UserName</td>
                        <td>@item.UserPassword</td>
                        <td>
                            <button class="btn btn-sm btn-info"
                                    onclick="openModal('Edit Staff', '/PointOfSale/StaffAddEdit?id=@item.StaffID', 'md')">
                                Edit
                            </button>

                            <button class="btn btn-sm btn-danger" onclick="showConfirm({
                                    title: 'Delete Staff',
                                    message: 'Are you sure you want to delete this staff?',
                                    confirmText: 'Delete',
                                    cancelText: 'Cancel',
                                    url: '/PointOfSale/DeleteStaff?id=@item.StaffID'
                                })">
                                Delete
                            </button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>




